<footer>
  <p>Based on the <a href="https://docs.google.com/spreadsheets/d/14-88r4l34Ldbg_jZ-gb3I67R_pOoM2F_6o17lXRHtaU/edit#gid=0" target="_blank">database</a> gathered by <a href="https://twitter.com/Free_FGC/status/1561840589708173312" target="_blank">@Free_FGC</a></p>
  <p>If you know about Indie Fighting Games not listed here or you find some outdated info, please fill out <a href="https://forms.gle/XcBASJ1WS1wrpU2t9" target="_blank">this form</a></p>
  <!-- <p>&nbsp;</p> -->
  <p>Web designed and developed with ❤️ by <a href="https://twitter.com/resistance204x" target="_blank">Julio Quiroz</a></p>
</footer>

    
