<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

<link rel="icon" type="image/png" sizes="32x32" href="<%- url_for('images/favicon-32x32.png') %>">
<link rel="icon" type="image/png" sizes="64x64" href="<%- url_for('images/favicon-64x64.png') %>">
<link rel="icon" type="image/png" sizes="128x128" href="<%- url_for('images/favicon-128x128.png') %>">
<link rel="stylesheet" href="<%- url_for('scss/style.css') %>">

<title>Indie Fighting Games: The ultimate guide</title>
