<header>

  <ul class="nav-bar" >
<% site.tags.sort('date', -1).forEach(function(tag) { %>
    <li class="tag"><a href="<%- tag.path %>"><%- titlecase(tag.name) %></a></li>
    
<% })  %>
  </ul>

</header>

