<header>
  <div id="filters">
<% site.tags.sort('name', 1).forEach(function(tag) { 
/*
Tag fields:
  name (Air Jump)
  _id (cl7mc4xdf00027o42d5tbhsae)
  slug (air-jump)
  path (tags/air-jump/)
  permalink
  posts
  length
  _model
  _schema
*/
%>
    
    <button data-filter="<%- tag.slug %>" class="button" id="button-<%- tag.slug %>"><%- titlecase(tag.name) %></button>

<% })  %>
  </div>
</header>

