<!DOCTYPE html>
<html lang="en">
    <head>
        <%- partial('partial/head') %>
    </head>
    
    <body>
        <%- partial('partial/nav-bar') %>
        <div class="wrapper">
            <%- body %>
        </div>
        <%- partial('partial/footer') %>
    </body>   

</html>