body{
    background: $palette-0;
}

.grid {
    border: 1px solid $palette-0;
}
.grid:after {
    content: '';
    display: block;
    clear: both;
  }


.game-box{
    background: $palette-1;
    position: relative;
    float: left;
    width: 470px; // Steam capsule width+5+5
    height: 225px; // Steam capsule height+5+5
    margin: 5px;
    padding: 10px;
}