$bg-color: #520D4D;
$box-color: rgb(130, 20, 93);
$text-color: white;
$title-bgcolor: #ffff00;
$title-color: #333;

$palette-0: #003049;
$palette-1: #D62828;
$palette-2: #F77F00;
$palette-3: #FCBF49;
$palette-4: #EAE2B7;

