/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #212221;
}

.wrapper {
  margin: 0 auto;
  padding-top: 25px;
}

.grid {
  margin: 5px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.game-box {
  position: relative;
  float: left;
  width: 324px;
  height: calc(151px + 28px + 83px);
  margin: 3px;
  padding: 0px;
  overflow: hidden;
}

button {
  background-color: #c4085d;
  color: #e5e5e5;
  border: 1px solid #e5e5e5;
  font-weight: bold;
  margin: 0 5px 5px 0;
}

button.is-checked {
  background-color: #e5e5e5;
  color: #212221;
  border: 1px solid #e5e5e5;
}

img.game-box-img {
  width: 324px;
  height: 151px;
}

img.game-box-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
}

h2 {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  color: #e5e5e5;
  padding: 3px 5px 7px 5px;
  height: 14px;
  line-height: 18px;
  overflow: hidden;
  background-color: #c4085d;
}

p, button {
  font-family: 'Exo 2', sans-serif;
}

.game-box-tags-container {
  padding: 5px 0 0 0;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  height: 90px;
  margin: -3px 0 0 0;
}

.game-box-tag {
  float: right;
  display: inline;
  margin: 0px 5px 5px 0;
  padding: 3px 5px;
  color: #212221;
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
}

#filters {
  margin: 0;
  padding: 5px;
  background-color: #c4085d;
  position: fixed;
  z-index: 99;
  width: 100%;
}

.price {
  background-color: #c4085d;
  color: #e5e5e5;
  padding: 5px;
  font-family: 'Exo 2', sans-serif;
  text-align: right;
  margin: -3px 0 0 0;
}

.hover-info {
  position: absolute;
  top: 24px;
  background-color: #c4085d;
  width: 100%;
  height: calc(151px + 83px);
  z-index: 1;
}

.hover-info .links-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.hover-info .links-container .link-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.hover-info .links-container .link {
  background-image: url("/images/link.png");
}

.hover-info .links-container .twitter {
  background-image: url("/images/twitter.png");
}

.hover-info .links-container .discord {
  background-image: url("/images/discord.png");
}

footer {
  background-color: #c4085d;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #e5e5e5;
  font-size: 12px;
  z-index: 99;
}

footer p {
  margin: 2.5px 0;
}

footer p a {
  color: #212221;
  text-decoration: none;
  font-weight: bold;
  background-color: #e5e5e5;
  padding: 0 5px;
}
/*# sourceMappingURL=style.css.map */